# fly.toml app configuration file generated for social-scribe
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'scribe-fork-wild-resonance-5534'
primary_region = 'cdg'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'scribe-fork-wild-resonance-5534.fly.dev'
  PORT = '8080'
  PHX_SERVER = 'true'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
